In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import openpyxl
from datetime import datetime, date, timedelta
#--- Web scriping ---
import requests
from bs4 import BeautifulSoup
#--- ------------ ---
#from googletrans import Translator

# <font style="font-size: 80px"><font color="yellow">C</font><font style="color: whitesmoke">onsume </font><font color="yellow">P</font><font style="color: whitesmoke">roduct </font><font color="yellow">I</font><font style="color: whitesmoke">ndex </font>(<font color="yellow">CPI</font>)</font>

### Getting data

In [2]:
url = 'https://thedocs.worldbank.org/en/doc/1ad246272dbbc437c74323719506aa0c-0350012021/original/Inflation-data.xlsx'
local_path = 'From_WorldData.xlsx'

try: 
    response = requests.get(url)

    if(response.status_code == 200):
        with open(local_path, 'wb') as file:
            file.write(response.content)
        print(f'Download success, status code {response.status_code}')
    else:
        print(f'Download Error, status code {response.status_code}')
except requests.exceptions.RequestException as e:
    print(f'Error: {e}') 
    
    pass

Download success, status code 200

In [3]:
excel = "From_WorldData.xlsx"
sheets = openpyxl.load_workbook(excel) #https://data.worldbank.org/indicator/FP.CPI.TOTL.ZG

In [4]:
print(sheets.sheetnames)

['Intro', 'top', 'hcpi_m', 'hcpi_q', 'hcpi_a', 'ecpi_m', 'ecpi_q', 'ecpi_a', 'fcpi_m', 'fcpi_q', 'fcpi_a', 'ccpi_m', 'ccpi_q', 'ccpi_a', 'ppi_m', 'ppi_q', 'ppi_a', 'def_q', 'def_a', 'Aggregate']

In [5]:
CPIa = pd.read_excel(excel, sheet_name="hcpi_a")

---

### <font style="color: yellow">Columns</font>

In [6]:
CPIa.drop(columns=["Note", "IMF Country Code", "Indicator Type", "Series Name"], inplace=True)
CPIa.rename(columns={"Country Code":"Code"}, inplace=True)
CPIa[["Code", "Country"]] = CPIa[["Country", "Code"]]
CPIa.rename(columns={"Code":"Country", "Country":"Code"}, inplace=True) #If the name not exist previously to the function are not changed

In [7]:
CPIa.columns = CPIa.columns.astype(str)

In [8]:
len(CPIa["Country"])

205

In [9]:
countryCount = {}
for i in CPIa["Country"]:
    if countryCount.get(i):
        countryCount[i] += 1
    else:
        countryCount[i] = 1

country_repeat = {k: v for k, v in countryCount.items() if(v>=2)}
print(country_repeat)

{nan: 2}

In [10]:
CPIa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 57 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  203 non-null    object
 1   Code     204 non-null    object
 2   1970     155 non-null    float64
 3   1971     155 non-null    float64
 4   1972     155 non-null    float64
 5   1973     156 non-null    float64
 6   1974     156 non-null    float64
 7   1975     154 non-null    float64
 8   1976     154 non-null    float64
 9   1977     154 non-null    float64
 10  1978     155 non-null    float64
 11  1979     155 non-null    float64
 12  1980     158 non-null    float64
 13  1981     162 non-null    float64
 14  1982     163 non-null    float64
 15  1983     163 non-null    float64
 16  1984     163 non-null    float64
 17  1985     163 non-null    float64
 18  1986     164 non-null    float64
 19  1987     165 non-null    float64
 20  1988     165 non-null    float64
 21  1989     165 non-null    float64
 22  1990     166 non-null    float64
 23  1991     169 non-null    float64
 24  1992     175 non-null    float64
 25  1993     179 non-null    float64
 26  1994     180 non-null    float64
 27  1995     181 non-null    float64
 28  1996     184 non-null    float64
 29  1997     185 non-null    float64
 30  1998     186 non-null    float64
 31  1999     187 non-null    float64
 32  2000     188 non-null    float64
 33  2001     191 non-null    float64
 34  2002     191 non-null    float64
 35  2003     194 non-null    float64
 36  2004     195 non-null    float64
 37  2005     198 non-null    float64
 38  2006     198 non-null    float64
 39  2007     198 non-null    float64
 40  2008     198 non-null    float64
 41  2009     198 non-null    float64
 42  2010     198 non-null    float64
 43  2011     198 non-null    float64
 44  2012     200 non-null    float64
 45  2013     201 non-null    float64
 46  2014     201 non-null    float64
 47  2015     201 non-null    float64
 48  2016     201 non-null    float64
 49  2017     200 non-null    float64
 50  2018     200 non-null    float64
 51  2019     200 non-null    float64
 52  2020     199 non-null    float64
 53  2021     198 non-null    float64
 54  2022     198 non-null    float64
 55  2023     201 non-null    float64
 56  2024     195 non-null    float64
dtypes: float64(55), object(2)
memory usage: 91.4+ KB

---

### <font style="color: yellow"> This data-frame have something wrong elements? </font>

In [11]:
nanCountry = CPIa[CPIa["Country"].isna() == True]
CPIa.drop(index=nanCountry.index, inplace=True)
CPIa.reset_index(inplace=True, drop=True)

In [12]:
#CPIa.loc[CPIa["Country"] == "Angola", "1970"] = "Hello"
aux = CPIa.iloc[:, 2:]
dataFilter = aux.select_dtypes(exclude=["float"]).any()
dataFilter

Series([], dtype: bool)

---

### <font style="color: yellow"> Sorting the data </font>

In [13]:
nanPorcent = {}
noData = []
for i in CPIa["Country"]:
    rowSelected = CPIa[CPIa["Country"] == i]
    if(rowSelected.isna().any().any()):
        nanPorcent[i] = rowSelected.iloc[:, 2:].isna().any().value_counts(normalize=True)[True]
        if(nanPorcent[i] == 1):
            noData.append(int(rowSelected.index.values[0]))
    else:
        nanPorcent[i] = 0.0

print(nanPorcent, "\n", noData)

#--- Del data ---#
for i in range(0, len(noData)):
    del nanPorcent[CPIa.iloc[noData[i]]["Country"]]
CPIa.drop(index=noData, inplace=True)
CPIa.reset_index(inplace=True, drop=True)

{'Aruba': 0.4727272727272727, 'Afghanistan': 0.0, 'Angola': 0.0, 'Albania': 0.36363636363636365, 'United Arab Emirates': 0.0, 'Argentina': 0.0, 'Armenia': 0.41818181818181815, 'Antigua and Barbuda': 0.0, 'Australia': 0.0, 'Austria': 0.0, 'Azerbaijan': 0.38181818181818183, 'Burundi': 0.0, 'Belgium': 0.0, 'Benin': 0.0, 'Burkina Faso': 0.0, 'Bangladesh': 0.0, 'Bulgaria': 0.0, 'Bahrain': 0.0, 'Bahamas, The': 0.0, 'Bosnia and Herzegovina': 0.45454545454545453, 'Belarus': 0.0, 'Belize': 0.0, 'Bolivia': 0.0, 'Brazil': 0.0, 'Barbados': 0.0, 'Brunei Darussalam': 0.0, 'Bhutan': 0.05454545454545454, 'Botswana': 0.0, 'Central African Republic': 0.0, 'Canada': 0.0, 'Switzerland': 0.0, 'Chile': 0.0, 'China': 0.0, "Côte d'Ivoire": 0.0, 'Cameroon': 0.0, 'Congo, Dem. Rep.': 0.0, 'Congo, Rep.': 0.0, 'Colombia': 0.0, 'Comoros': 0.0, 'Cabo Verde': 0.0, 'Costa Rica': 0.0, 'Curacao': 0.12727272727272726, 'Cayman Islands': 0.4727272727272727, 'Cyprus': 0.0, 'Czech Republic': 0.0, 'Germany': 0.0, 'Djibouti': 0.0, 'Dominica': 0.0, 'Denmark': 0.0, 'Dominican Republic': 0.0, 'Algeria': 0.0, 'Ecuador': 0.0, 'Egypt, Arab Rep.': 0.0, 'Eritrea': 0.43636363636363634, 'Spain': 0.0, 'Estonia': 0.38181818181818183, 'Ethiopia': 0.0, 'Finland': 0.0, 'Fiji': 0.0, 'France': 0.0, 'Micronesia, Fed. Sts.': 0.4727272727272727, 'Gabon': 0.0, 'United Kingdom': 0.0, 'Georgia': 0.4, 'Ghana': 0.0, 'Guinea': 0.0, 'Gambia, The': 0.0, 'Guinea-Bissau': 0.0, 'Equatorial Guinea': 0.0, 'Greece': 0.0, 'Grenada': 0.0, 'Guatemala': 0.0, 'Guyana': 0.0, 'Hong Kong SAR, China': 0.18181818181818182, 'Honduras': 0.0, 'Croatia': 0.2, 'Haiti': 0.0, 'Hungary': 0.0, 'Indonesia': 0.0, 'India': 0.0, 'Ireland': 0.0, 'Iran, Islamic Rep.': 0.0, 'Iraq': 0.0, 'Iceland': 0.0, 'Israel': 0.0, 'Italy': 0.0, 'Jamaica': 0.0, 'Jordan': 0.0, 'Japan': 0.0, 'Kazakhstan': 0.4, 'Kenya': 0.0, 'Kyrgyz Republic': 0.4, 'Cambodia': 0.21818181818181817, 'Kiribati': 0.18181818181818182, 'St. Kitts and Nevis': 0.0, 'Korea, Rep.': 0.0, 'Kuwait': 0.0, 'Lao PDR': 0.0, 'Lebanon': 0.0, 'Liberia': 0.0, 'Libya': 0.0, 'St. Lucia': 0.0, 'Liechtenstein': 0.7636363636363637, 'Sri Lanka': 0.0, 'Lesotho': 0.0, 'Lithuania': 0.2, 'Luxembourg': 0.0, 'Latvia': 0.4, 'Macao SAR, China': 0.5272727272727272, 'Morocco': 0.0, 'Moldova': 0.4, 'Madagascar': 0.0, 'Maldives': 0.0, 'Mexico': 0.0, 'Marshall Islands': 0.6181818181818182, 'Macedonia, FYR': 0.21818181818181817, 'Mali': 0.0, 'Malta': 0.0, 'Myanmar': 0.0, 'Montenegro': 0.5454545454545454, 'Mongolia': 0.38181818181818183, 'Mozambique': 0.0, 'Mauritania': 0.0, 'Montserratit': 0.5636363636363636, 'Martinique': 0.9454545454545454, 'Mauritius': 0.0, 'Malawi': 0.0, 'Malaysia': 0.0, 'Namibia': 0.0, 'New Caledonia': 0.45454545454545453, 'Niger': 0.0, 'Nigeria': 0.0, 'Nicaragua': 0.0, 'Niue': 1.0, 'Netherlands': 0.0, 'Norway': 0.0, 'Nepal': 0.0, 'Nauru': 0.6363636363636364, 'New Zealand': 0.0, 'Oman': 0.0, 'Pakistan': 0.0, 'Panama': 0.0, 'Peru': 0.0, 'Philippines': 0.0, 'Palau': 0.5636363636363636, 'Papua New Guinea': 0.0, 'Poland': 0.0, 'Puerto Rico': 0.2, 'Portugal': 0.0, 'Paraguay': 0.0, 'West Bank and Gaza': 0.509090909090909, 'Qatar': 0.0, 'Romania': 0.0, 'Russian Federation': 0.0, 'Rwanda': 0.0, 'Saudi Arabia': 0.0, 'Sudan': 0.0, 'Senegal': 0.0, 'Singapore': 0.0, 'Saint Helena': 0.6363636363636364, 'Solomon Islands': 0.18181818181818182, 'Sierra Leone': 0.0, 'El Salvador': 0.0, 'San Marino': 0.6, 'Serbia': 0.509090909090909, 'South Sudan': 0.7636363636363637, 'São Tomé and Principe': 0.0, 'Suriname': 0.0, 'Slovak Republic': 0.2909090909090909, 'Slovenia': 0.2, 'Sweden': 0.0, 'Swaziland': 0.0, 'Seychelles': 0.0, 'Syrian Arab Republic': 0.12727272727272726, 'Turks and Caicos Islands': 0.7090909090909091, 'Chad': 0.0, 'Togo': 0.0, 'Thailand': 0.0, 'Tajikistan': 0.41818181818181815, 'Turkmenistan': 0.41818181818181815, 'Timor-Leste': 0.6, 'Tonga': 0.0, 'Trinidad and Tobago': 0.0, 'Tunisia': 0.0, 'Turkey': 0.0, 'Tuvalu': 0.5636363636363636, 'Tanzania': 0.0, 'Uganda': 0.0, 'Ukraine': 0.0, 'Uruguay': 0.0, 'United States': 0.0, 'Uzbekistan': 0.4, 'St. Vincent and the Grenadines': 0.0, 'Venezuela, RB': 0.0, 'British Virgin Islands': 0.8181818181818182, 'Vietnam': 0.0, 'Vanuatu': 0.0, 'Samoa': 0.0, 'Kosovo': 0.6, 'Yemen, Rep.': 0.0, 'South Africa': 0.0, 'Zambia': 0.0, 'Zimbabwe': 0.0}
 [133]

In [14]:
nanPorcent = dict(sorted(nanPorcent.items(), key=lambda items: items[1], reverse=False))
newOrder = [x for x in nanPorcent]
aux_df = pd.DataFrame(columns=CPIa.columns)

for i in newOrder:
    rowSelected = CPIa[CPIa["Country"] == i]
    aux_df = pd.concat([aux_df, rowSelected], ignore_index=True)

aux_df = aux_df.round(2)
CPIa =  aux_df
CPIa

C:\Users\matia\AppData\Local\Temp\ipykernel_11260\1748395857.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  aux_df = pd.concat([aux_df, rowSelected], ignore_index=True)

,Country,Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,AFG,25.51,25.51,-12.52,-10.68,10.23,11.85,0.60,7.65,...,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,10.60,-7.71,-6.60
1,Angola,AGO,7.97,5.78,15.80,15.67,27.42,29.00,80.70,69.01,...,9.16,32.38,29.84,19.63,17.08,21.02,23.85,23.83,13.64,28.24
2,United Arab Emirates,ARE,21.98,21.98,21.98,21.98,21.98,21.98,21.98,21.97,...,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,4.83,1.62,1.66
3,Argentina,ARG,13.59,34.73,58.45,61.25,23.47,182.93,443.97,176.00,...,26.54,39.40,25.68,34.28,53.55,42.02,48.41,72.43,133.49,219.88
4,Antigua and Barbuda,ATG,8.87,8.63,12.67,21.72,12.97,8.61,15.62,13.75,...,0.97,-0.49,2.42,1.21,1.48,1.06,1.63,7.53,5.07,6.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.20,2.00,2.10,2.10,2.20,2.30,NaN,NaN,NaN,NaN
198,Liechtenstein,LIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.11,-0.41,0.51,0.92,0.40,-0.70,0.51,8.40,3.94,2.26
199,South Sudan,SSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.81,379.85,187.87,83.49,51.19,29.68,30.23,-6.69,39.67,128.40
200,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.80,1.10,1.20,2.10,1.40,0.40,2.80,NaN,2.58,NaN
201,Martinique,MTQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.07,0.86,33.92

---

In [15]:
CPIa[CPIa["Country"] == "United States"]

,Country,Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
142,United States,USA,5.9,4.29,3.27,6.18,11.05,9.14,5.74,6.5,...,0.12,1.26,2.14,2.44,1.81,1.23,4.7,8.0,4.13,2.95

<font style="color: green; font-size: 35px">Save changes</font>

In [16]:
print(CPIa.columns)
CPIa.to_csv("Inflation_clean.csv", index=False)

Index(['Country', 'Code', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023', '2024'],
      dtype='object')